<div class='box users-form'>
  <form class='field' {{action 'createUser' on='submit'}}>
    <div class='field'>
      <label class='label' for='username'>Username</label>
      <div class='control'>
        {{input data-test-form='username' id='username' class='input' placeholder='Enter your username' value=model.username}}
      </div>
    </div>

    <div class='field'>
      <label class='label' for='email'>Email</label>
      <div class='control'>
        {{input data-test-form='email' id='email' class='input' placeholder='Enter your email' value=model.email}}
      </div>
    </div>

    <div class='field'>
      <label class='label' for='password'>Password</label>
      <div class='control'>
        {{input data-test-form='password' id='password' class='input' type='password' placeholder='Enter your password' value=model.password}}
      </div>
    </div>

    <div class='field'>
      <label class='label' for='password-confirmation'>Password Confirmation</label>
      <div class='control'>
        {{input data-test-form='password-confirmation' id='password-confirmation' class='input' type='password' placeholder='Confirm your password' value=model.password-confirmation}}
      </div>
    </div>

    <button class='button is-primary' type='submit' data-test-form='submit'>submit</button>
  </form>
</div>
